<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "All Tests" parallel="tests" thread-count="2">

    <test name = "Login Test">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name = "Tests.LoginTest" />
        </classes>
    </test>
    <parameter name="browserName" value="chrome"/>
    <test name = "Get First Product Test">
        <classes>
            <class name = "Tests.ProductTest" />
        </classes>
    </test>

</suite>



